.container__menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:320px) and (max-width:768px) {
  .container__menu-title {
    display: block;
    justify-content: center;
  }
}




