.container__small-card {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-card-img img{
  width: 80%;
  margin: 2% 10%;
  border: solid 2px silver;
  border-radius: 5px;

  box-shadow: 0 0 .1rem transparent,
      0 0 .2rem white,
      0 0 .5rem #bc13fe,
      0 0 0.1rem #bc13fe,
      0 0 0.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
}

.small-card-title {
  background-color: transparent;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 5px;
  margin-top: 10px;
}

.small-card-title a{
  text-decoration: none;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.action__btn > button{
  background-color: #bc13fe;
  border-radius: 5px;
  width: 80px;
  line-height: 20px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.action__btn  a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.action__btn >button:hover {
  cursor: pointer;
  background-color: blue;
  border: solid 2px aliceblue;
}

/*media query*/

@media screen and (min-width: 320px) and (max-width: 768px){
  .container__small-card {
    margin : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 220px;
  }

  .small-card-tile > h3 , a {
    text-align: center;
    font-size: .6rem;
  }
}
