.container__articles {
  background-color: transparent;
  margin-top    : 3%;
  display       : flex;
  flex-direction: row;
}

.articles__others {
  margin: 4%;
  width: 45%;
  background-color: transparent;
}
