.container__articles {
  background-color: transparent;
  margin-top    : 3%;
  display       : flex;
  flex-direction: row;
}
/*container articles media query*/
@media screen and (min-width:320px) and (max-width:768px) {
  .container__articles {
    margin: 10% auto;
  }
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.articles__others {
  margin: 0 auto;
  width: 70%;
  background-color: transparent;
}

.articles__others2 {
  margin: 0 auto;
  width: 70%;
  background-color: transparent;
}

.line {
  margin: 5% auto;
}

@media screen and (min-width:320px) and (max-width:768px) {
  .line {
    margin: 0 250px;
  }
}

.container__games-articles {
  margin          : 0 auto;
  display         : grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items     : center;
  width: fit-content;
  font-size: 1rem;
}

.articles{
  width: 100%;
  margin: auto;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  object-fit: contain;
}

.copy {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 50%;
}

/*section-title media query*/
@media screen and (min-width: 320px) and (max-width:768px){
  .section-title > img{
    width: 500px;
  }
  .section-title {
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
  }

  .container__games-articles {
    width: 100%;
  }

  .container__games-articles > app-big-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin:  1rem;
  }
}

