<!--<div class="navbar">
  <ul class="lista">
    <li><a href="http://www.github.com/inaldosilva" target="_blank">Github</a></li>
    <li><span>°</span></li>
    <li><a href="http://www.linkedin.com/in/inaldo-fbjr/" target="_blank">LinkedIn</a></li>
    <li><span>°</span></li>
    <li><a href="https://codepen.io/inaldosilva" target="_blank">Codepen</a></li>
    <li><span>°</span></li>
    <li><a href="http://www.instagram.com/inaldogtsilva" target="_blank">Instagram</a></li>
  </ul>
</div>-->
<div class='nav'>
  <ul>
    <li><a href='#'>Home</a></li>
    <li><a href='#'>Artigos</a>
      <ul>
        <li><a href='#'>Tutorial</a></li>
        <li><a href='#'>Snippets</a></li>
        <li><a href='#'>Freebies</a></li>
        <li><a href='#'>Design</a></li>
      </ul>
    </li>
    <li><a href='#'>Find me!</a>
      <ul>
        <li><a href='#'>Github</a></li>
        <li><a href='#'>Instagram</a></li>
        <li><a href='#'>LinkedIn</a></li>
        <li><a href='#'>Codepen</a></li>
      </ul>
    </li>
    <li><a href='#'>Sobre</a></li>
    <li><a href='#'>Contato</a></li>
    <li class='lamp'><span></span></li>
  </ul>
</div>
