.container__big-card {
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 100vh;
  margin: 0 auto;
}

.bc-img {
  width: 100%;
  border: solid 1px #0B9786;
  border-radius: 5px;
  margin-top: 0;

  -webkit-box-shadow: 0px 3px 5px 5px rgba(11, 151, 134, 0.52);
  -moz-box-shadow: 0px 3px 5px 5px rgba(11, 151, 134, 0.52);
  box-shadow: 0px 3px 5px 5px rgba(11, 151, 134, 0.52);
}

.big-card-title h2{
  background-color: transparent;
  margin-top: 10px;
}

.big-card-title , a{
  background-color: transparent;
  color: aliceblue;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p a{
  color: grey;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p a {
  font-size: .8rem;
}

@media screen and (min-width:320px) and (max-width:768px) {
  .container__big-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 160%;
    margin: 10% 3%;
    padding: 5px;
  }
}
