.container__big-card {
  border: none;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
  margin: 10%;
}

.container__big-card {
  margin-top: 10%;
}

.bc-img {
  width: 100%;
  border: solid 1px rgb(20, 160, 139);
  border-radius: 5px;
  margin-top: 0;
}

h2 {
  color: aliceblue;
}

h6, p {
  color: grey;
}

p {
  font-size: 1rem;
}

/*@media screen and (min-width:320px) and (max-width: 680px){
  .container__big-card {
    background-color: transparent;
    margin:0 10%;
    width: 90%;
  }
  img{
    background-color: transparent;
    margin: 0 7.5%;
    max-width: 85%;
  }

  .big-card-tile, .big-card-description, .big-card-img-font {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }
}*/

